.category {
  color: gray;
  padding: 0.1em !important;
}

.card {
  border-radius: 8px !important;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
}

.table {
  margin-bottom: 0 !important;
}

.contacts-panel {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  overflow: hidden;
}

.avatar {
  width: 100% !important;
  border: 0.5vh solid lightgray;
}

.userInfo {
  font-size: 14px;
  margin: 1vh 0 0 0;
  line-height: 2.1;
}

thead {
  color: white;
  font-weight: 600;
}

.table th {
  border-top: none !important;
}

.table thead th {
  border-bottom: none !important;
}

tbody {
  background-color: white;
  color: rgb(79, 77, 67);
}

.active {
  background-color: #0086a5;
}

.name {
  background-color: #0086a5;
}

.name-arrow {
  margin-top: 0.5vh !important;
}

.surname {
  background-color: #0390ae;
}

.city {
  background-color: #0799b8;
}

.email {
  background-color: #0dadca;
}

.phone {
  background-color: #11b6d4;
  text-align: right;
}

.actions {
  background-color: #14c0dd;
}

.contact-phone {
  text-align: right;
}

.action-icon {
  margin: 0 1em;
  color: rgb(79, 77, 67) !important;
}

.centered {
  text-align: center;
}

.header {
  height: 10vh;
  padding: 0 5%;
  background-color: rgb(27, 60, 67);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
}

.contacts-page {
  padding: 1.5% 4.1% !important;
}

.container-fluid {
  padding: 0 !important;
}

.nav-link {
  color: white;
  font-weight: 600;
  margin: 0.2vh 0;
  text-align: center;
  text-decoration: none !important;
  padding: 0.3vh 0 0 0 !important;
}

.side-border {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
  background-color: rgb(10, 163, 193);
  border-radius: 18px;
  overflow: hidden;
  height: 2.3125rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.nav-div {
  width: 50% !important;
  margin-left: 3em;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 17vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white !important;
  padding: 0 5%;
}

a {
  text-decoration: underline !important;
}

.bottom-nav {
  color: white !important;
  font-size: 15px;
}

.footer-section {
  padding: 1% 0;
}
.nav-li {
  margin-bottom: 1vh;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: white !important;
  margin-left: 2vh;
}

.footer-half-panel {
  background-color: rgba(0, 0, 0, 0.2);
}

.sync {
  height: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.no-pad {
  padding: 0 !important;
}

.info {
  height: 40%;
}

.space {
  margin-left: 0.5vh;
  color: white !important;
  font-size: 16px;
}

.round-border-left {
  border-top-left-radius: 18px !important;
  border-bottom-left-radius: 18px !important;
}

.round-border-right {
  border-top-right-radius: 18px !important;
  border-bottom-right-radius: 18px !important;
}

.borders {
  position: relative;
  z-index: 10;
  padding: 30px;
  border: 2px solid rgb(79, 77, 67);
  border-radius: 36px !important;
}
.borders:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  right: -4px;
  border-radius: 36px !important;
  bottom: -4px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.check-borders:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -2px;
  right: -2px;
  border-radius: 4px !important;
  bottom: -3px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.filters {
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 5%;
  color: white;
}

.filter-button {
  background-color: transparent;
  border: 2px solid rgba(234, 234, 232, 0.3);
  border-radius: 36px;
  padding: 0.5vh 2em;
  color: white;
}

.form-group {
  margin: 0 !important;
}

.add-button {
  background-color: #217f7a;
  border-radius: 36px;
  padding: 0.6vh 2em;
  color: white;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.circle-icon {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0.2em;
  width: 1em !important;
  position: absolute;
  margin-top: -0.38vh !important;
  margin-left: -0.88em !important;
}

.user-dropdown-menu {
  background-color: #0aa3c1 !important;
}

.user-dropdown {
  color: white !important;
  text-decoration: none !important;
  background-color: #0aa3c1 !important;
}

.user-dropdown-icon {
  margin-right: 1em;
}

.dropdown-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
  border: 3px solid #08829b !important;
  border-top-left-radius: 0.6rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: 0.6rem !important;
  border-bottom-right-radius: 0.6rem !important;
  top: 1vh !important;
}

.dropdown-toggle {
  background-color: #0aa3c1 !important;
  border: 1px solid #0aa3c1 !important;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: 0.6rem !important;
  border-bottom-right-radius: 0.6rem !important;
}

.username {
  margin-right: 0.6em;
}

.btn-primary:focus {
  box-shadow: none !important;
}
.user {
  position: fixed !important;
  right: 1em !important;
  z-index: 10;
}

.dropdown-menu:before,
.dropdown-menu:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
}
.dropdown-menu:after {
  right: 23px;
  border: 8px solid transparent;
  border-bottom-color: #0aa3c1;
}
.dropdown-menu:before {
  right: 20px;
  border: 11px solid transparent;
  border-bottom-color: #08829b;
}

.logo {
  margin-bottom: 2vh;
}

.search {
  width: 17rem !important;
}

.contact-card {
  width: 17rem !important;
}

.vertical-separator {
  border-left: 1px solid rrgba(0, 0, 0, 0.1);
}

.black-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: -0.75em !important;
  height: 200% !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(10, 163, 193, 0.1);
}

.create-form {
  padding: 5% !important;
  color: white !important;
}

.selected {
  background-color: rgba(10, 163, 193, 0.1);
}

.action-icon-selected {
  margin: 0 0.7rem;
}

.filter-button:focus,
.filter-button:active {
  outline: none !important;
  box-shadow: none;
}
