@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(-45.3deg, #1b3c6b, #217f7a);
  color: rgb(79, 77, 67);
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
